.story-tile {
    height: 160px;
    width: 29%;
    margin-right: 3%;
    margin-left: 1%;
    float: left;
    position:relative;
    margin-bottom: 20px;
    .tile-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;     //being able to change this is why this is structure like so
        background-size: cover;
    }
    .tile-title-holder {
        background-color: rgba(57,39,91,.8);
        position: absolute;
        padding: 11px 15px;
        bottom: 0;
        right: 0;
        left: 0;
        a {
            color: #fff;
            display: block;
            font-size: 14px;
            line-height: 18px;
            font-weight: 800;
        }
    }
}
#main {
    h2 {
        clear: both;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 17px;
        padding: 20px 0 20px;
        position: relative;
        span {
            background: #fff;
            padding: 0 20px;
            position: relative;
        }
        &:before {
            content: "";
            display: block;
            border-top: solid 1px #e7e7e7;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
        }        
    }
}