.uw-content {
    padding: 20px 20px 80px 50px;
    h2 {
       font-weight: 900;
    }
}
.udub-slant span {
    background-color: #B7A57A;
}
.home #sidebar {
    padding: 0 20px;
}
.tile-title-holder {
    background-color: rgba(57,39,91,.8);
    position: absolute;
    padding: 11px 15px;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out ;
    -o-transition: background-color 300ms ease-out ;
    transition: background-color 300ms ease-out ;
    &:hover {
        background-color: rgba(57,39,91,.5);
    }
}
.promoted-story-tile {
    position: relative;
    margin-top: 10px;
    .tile-title-holder {
        padding: 11px 25px;
    }
    h2 {
        font-size: 1.4em;
        margin: 10px 0 0 0;
        font-weight: 800;
        color: #fff;
    }
    .tile-background {
        width: 100%;
        height: 500px;
        background-size: cover; 
    }
    .tile-title-holder {
        
    }
    .abstract {
        color: #fff;
        padding-right: 90px;
        background: url(img/big-arrow.png) right center no-repeat;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}
.spacer {
  margin-bottom: 60px;
}
.story-tile {
    height: 160px;
    width: 29%;
    margin-right: 3%;
    margin-left: 1%;
    float: left;
    position:relative;
    margin-bottom: 20px;
    .tile-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;     //being able to change this is why this is structure like so
        background-size: cover;
    }
    .tile-title-holder {
        a {
            color: #fff;
            display: block;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            position: relative;
            text-decoration: none;
            &:after {
                content: "";
                width: 10px;
                margin: 6px;
                position: absolute;
                height: 10px;
                background: url('img/lil-arrow.png') no-repeat;
            }
        }
    }
}

// Style search
.search-field  {
      padding-top: 15px;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -40px;
        top: 0;
        width: 1px;
        height: 90px;
        background-color: #adadad;
        border-bottom: 3px solid #DFDFDF;
      }
}
.tan-bg {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 287px;
        height: 220px;
        background-color: #EEEADF;
      }   
}
.uw-body.container.boundless-archive { 
    background-color: transparent; 
    margin-bottom: 0;
    padding-bottom: 80px;
}
#searchform #storycentral-search {
  width: 100%;
  padding: 14px 0 13px 25px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  background-color: white;
}
#pillar,
#tags {
  .border-radius(0);
  border: none;
  outline: 1px solid #ADADAD;
  .box-shadow(none);
}

#feed {
    h2 {
        clear: both;
        padding: 15px 0 20px;
        position: relative;
        font-weight: 800;
        text-align: center;
        span {
            background: #fff;
            padding: 0 20px;
            position: relative;
            text-transform: uppercase;
            font-size: 17px;            
        }
        &:before {
            content: "";
            display: block;
            border-top: solid 1px #e7e7e7;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
        }        
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    #story-bank-info {
       margin: 10px 80px 50px;
    }
    // Style search
    .tan-bg,
    .search-field  {
        &:before {
            display: none;
        }
    }
}

@media only screen and (max-width : 767px) {
    #story-bank-info {
        padding: 0 40px;
        margin: 20px 0 0;
        width: auto;
        h1 {
            font-size: 30px
        }
        p {
            width: 100%;
            font-size: 16px;
            line-height: 1.4;
        }
    }
    #flex-bg {
        padding: 20px 0;
    }
    .uw-content {
        padding: 0;
    }
    // Style search
    .tan-bg,
    .search-field  {
        &:before {
            display: none;
        }
    }
    .boundless-tile {
        position: static !important;
        width: 90% !important;
        margin: 0 auto 20px;
    }
}
